body{
    font-family: "filson";
}

.hide{
    display: none;
}

.show{
    display: block
}


.back-to-search{
    margin-top: 1em;
    width: 94%;
    position: absolute;
    top: 2%;
}

.back-to-search i:hover{
    cursor: pointer;
}


.dd-list-item{
    cursor: pointer;
}

.dd-list-item:hover{
    background-color: lightgray;
}

.headlines-container{
    display: flex;
    flex-flow: column;
    align-items: center
}

.headlines-section{
    margin: 0 1.5em;
}

.headline-content{
    display: flex;
    margin-top: 1em;
}

.headline-content a{
    margin: 0 1em;
}

.headline-content img{
    border-radius: 8px
}

@media only screen and (max-width: 600px) {
    .headline-content img {
        display: none;
    }
}


.arrow-down{
    transform: rotate(180deg);
  }
  

@font-face {
    font-family: filson;
    src: url(./assets/fonts/Filson-Soft-Light-Webfont/Webfonts/filsonsoft_light_macroman/filsonsoft-light-webfont.woff);
}